
<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <%= render 'shared/form', user: @user, book: @book %>
    </div>

    <div class="col-xs-9">
      <h2>Books</h2>
      <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= attachment_image_tag  book.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg",size:'50x50' %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
          <td>コメント数: <%= book.book_comments.count %></td>
        </tr>
      </tbody>
    <% end %>
    </table>


      <!-- Google Map APIで地図を表示 -->
      <script type="text/javascript">
        function initMap() {
      // #latitude,longitudeから位置を特定
          var test ={lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: test
                    });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @user.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

       // #Map上の指定した位置にピンを挿して表示する
          var marker = new google.maps.Marker({
                        position:test,
                        map: map,
                        title: contentString
                       });

           marker.addListener('click', function() {
             infowindow.open(map, marker);
           });
        }
      </script>

    </div>
          <!-- #mapの表示 -->
      <% if @user == current_user %>
        <div class="col-xs-12">
          <h2>Your Map</h2>
          <div id="map"></div>
        </div>
      <% end %>

      <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap">
      </script>

  </div>
</div>
